@import "../../global.scss";

.settings-container-closed {
  top: -140px;
}

.settings-container-open {
  top: 80px;
}

.settings-container-open,
.settings-container-closed {
  transition: 200ms ease-in-out;
  position: absolute;
  margin-left: 300px;
  z-index: 1;
  form {
    background-color: $background-darker-color;
    padding: 15px 45px;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
    align-items: center;
    gap: 15px 0;
  }

  .settings-btn {
    background-color: $button-primary;
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    .gear {
      scale: 0.8;
    }
  }

  .settings-btn:hover {
    .gear {
      animation: rotate-center 300ms ease-in-out both;
    }
  }

  @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      scale: 0.85;
      transform: rotate(90deg);
    }
  }

  .switch-group {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    p {
      margin: 0;
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
      width: 48%;
    }
  }
}

@media screen and (max-width: 1500px) {
  .settings-container-open,
  .settings-container-closed {
    margin-left: 80px;
  }
}

@media screen and (max-width: 950px) {
  form {
    width: 35% !important;
  }
}

@media screen and (max-width: 700px) {
    .settings-container-open,
    .settings-container-closed {
    margin-left: 15px;
  }
  form {
      width: 50% !important;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 100% !important;
        padding: 15px 0px !important;
        .button-group {
            justify-content: center !important;
            gap: 10px !important;
            button {
                width: 40% !important;                
            }
        }
    }
    .settings-container-open,
    .settings-container-closed {
    margin-left: 0px;
  }
}