@import "../../global.scss";

$nav-link: #406563;
$nav-link-active: #fff;

.navbar {
    background-color: $background-darker-color;
    height: 50px;
    display: flex;
    padding: 15px 100px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    .logo {
        position:absolute;
        left:0;
        right:0;
        top: 10px;
        margin-left:auto;
        margin-right:auto;
        width: 180px;
    }
    .social,
    .links {
        display: flex;
        gap: 50px;
    }
    .social {
        img {
            transition: 200ms ease-in-out;
            width: 40px;
        }
        img:hover {
            scale: 1.3;
        }
    }
    .links {
        a {
            color: $nav-link;
            transition: 200ms ease-in-out;
        }
        a.active {
            color: $nav-link-active;
        }
        a:hover {
            filter: brightness(200%);
        }
    }
}