.game-container {
    width: 28%;
    margin: auto;
    margin-top: 10vh;
}

.score-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .score,
    .high-score {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
    }
}

.wrong-animation {
	animation: wrong-animation 250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes wrong-animation {
    0% {
        transform: rotate(0);        
        opacity: 1;
    }
    100% {
        transform: rotate(45deg);            
        opacity: 0;
    }
}

.wrong-animation-filter {
    animation: wrong-animation-filter 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes wrong-animation-filter {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}  

.correct-animation {
	animation: correct-animation 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @keyframes correct-animation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-1000px);
      opacity: 0;
    }
}

.correct-animation-filter {
    background-color: green !important;
    animation: correct-animation-filter 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes correct-animation-filter {
    0% {        
        opacity: .75;
    }
    100% {
        opacity: 0;
    }
}

.spawn-animation {
	animation: spawn-animation 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

 @keyframes spawn-animation {
    0% {
      transform: scale(.5);
      transform-origin: bottom;
    }
    100% {
        transform: scale(1);
      transform-origin: bottom;
    }
}

.rainbow_text_animated {
    background: linear-gradient(to right, #f2ff66, #0099ff , #00ff00, #ff3399, #ff0000);    
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@media screen and (max-width: 1250px) {
    .game-container {
        width: 50%;        
    }
    .score,
    .high-score {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 600px) {
    .game-container {
        width: 80%; 
    }
}

@media screen and (max-width: 400px) {
    .game-container {
        width: 70%; 
    }
    .score,
    .high-score {
        font-size: 15px !important;
    }
}